<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--这里需要配置百度地图的ak-->
    <!--这是服务端的ak-->
    <add key="BaiduAk" value=""/>
    <!--<add key="BaiduAk" value=""/>-->
    <!--这是浏览器端ak,百度默认的A4749739227af1618f7b0d1b588c0e85，记得换成自己的-->
    <add key="BaiduJsAk" value=" 	"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Common" connectionString="Server=172.16.20.13;Port=3306;Database=Common;Uid=root;Pwd=asdf;" providerName="MySql.Data.MySqlClient"/>-->
    <add name="Common" connectionString="Data Source=..\..\..\App_Data\Common.db" providerName="Sqlite"/>
  </connectionStrings>
</configuration>