<?xml version="1.0" encoding="utf-8"?>
<!--XCode设置-->
<Setting>
  <!--调试-->
  <Debug>true</Debug>
  <!--是否输出SQL语句，默认启用-->
  <ShowSQL>true</ShowSQL>
  <!--设置SQL输出的单独目录，默认为空，SQL输出到当前日志中。生产环境建议输出到站点外单独的SqlLog目录-->
  <SQLPath />
  <!--跟踪SQL执行时间，大于该阀值将输出日志，默认0毫秒不跟踪-->
  <TraceSQLTime>0</TraceSQLTime>
  <!--连接名映射#，表名映射@，把实体类中的Test2和Test3连接名映射到Test去-->
  <ConnMaps>Conn2#Conn,Table3@Table</ConnMaps>
  <!--是否启用动态代码调试，把动态生成的实体类代码和程序集输出到临时目录，默认不启用-->
  <CodeDebug>false</CodeDebug>
  <!--实体类首次访问数据库时，是否执行数据初始化，默认true执行，导数据时建议关闭-->
  <InitData>true</InitData>
  <!--事务调试。打开时输出事务回滚日志，默认关闭-->
  <TransactionDebug>false</TransactionDebug>
  <!--缓存-->
  <Cache>
    <!--是否调试缓存模块-->
    <CacheDebug>false</CacheDebug>
    <!--是否独占数据库，独占时将大大加大缓存权重，默认true（Debug时为false）-->
    <Alone>true</Alone>
    <!--一级缓存有效期。-2 关闭缓存；-1 非独占数据库，请求级缓存；0 永久静态缓存；>0 静态缓存时间，单位秒；默认-1-->
    <Expiration>-1</Expiration>
    <!--实体缓存过期时间，默认60秒-->
    <EntityCacheExpire>60</EntityCacheExpire>
    <!--单对象缓存过期时间，默认60秒-->
    <SingleCacheExpire>60</SingleCacheExpire>
  </Cache>
  <!--反向工程-->
  <Negative>
    <!--是否启用反向工程，默认启用。反向工程可以实现通过实体类反向更新数据库结构-->
    <Enable>true</Enable>
    <!--是否只检查不操作，默认不启用。启用时，仅把更新SQL写入日志-->
    <CheckOnly>false</CheckOnly>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <NoDelete>false</NoDelete>
    <!--要排除的链接名和表名，多个用逗号分隔，默认空-->
    <Exclude />
  </Negative>
  <!--Oracle设置-->
  <Oracle>
    <!--是否限制只能访问拥有者的信息，默认true-->
    <UseOwner>true</UseOwner>
    <!--是否忽略大小写，如果不忽略则在表名字段名外面加上双引号，默认true-->
    <IgnoreCase>true</IgnoreCase>
  </Oracle>
</Setting>